body {
    background-color: black;
    color: white;
}
.main-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    justify-content: center;
}
.parameters {
    padding: 10px;
    border: 1px solid gray;
    height: 90%;
    width: 25%;
    overflow: scroll;
}
.shptdt-container {
    /* border: 1px solid gray; */
    display: flex;
    flex-direction: column;
}
#shptdtf-grid {
    height: 400px;
    width: 300px;
}
#depthfit-grid {
    height: 200px;
    width: 300px;
}
.depthfit-container {
    /* border: 1px solid gray; */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.nct-parameter-ranges-container {
    margin-top: 10px;
    /* border: 1px solid gray; */
}

#submit-btn {
    margin-top: 5px;
}

.plot-container {
    /* width: 50%; */
    /* height: auto; */
    margin-left: 20px;
    padding: 10px;
    border: 1px solid gray;
    /* overflow: scroll; */
}
.result-container {
    padding: 10px;
    margin-top: 0px;
    margin-left: 20px;
    border: 1px solid gray;
    height: 90%;
    width: 25%;
    overflow: scroll;
}
.nct-parameter-result {
    display: flex;
    flex-direction: column;
}